@using HelpDesk.Models.Enums
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@model HelpDesk.Models.ViewModels.IssueVM
@{
    ViewData["Title"] = "Create";
}

<h3 style="color:green">@(TempData["Message"] as string)</h3>
<h3 style="color:red">@(TempData["Message2"] as string)</h3>
<h3 style="color:red">@(TempData["Message3"] as string)</h3>


<form asp-action="Create" asp-controller="Issue" method="post" class="form-horizontal" enctype="multipart/form-data">

    <div class="form-horizontal">
        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>
        @*<input type="hidden" asp-for="CustomerId,HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value" />*@
        @*@Html.Hidden("CustomerId", HttpContext.Current.User.Identity.GetUserId())*@

        <div class="form-group">
            <label asp-for="Description" class="control-label col-md-2"></label>
            <div class="col-md-4">
                <input type="text" asp-for="Description" class="form-control input-rounded" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ProductType" class="control-label col-md-2"></label>
            <div class="col-md-4">
                <select asp-for="ProductType" asp-items="Html.GetEnumSelectList<ProductTypes>()" class="form-control input-rounded">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="ProductType" class="text-danger" />
                @*@Html.EnumDropDownListFor(model => model.ProductType, new { @class = "form-control input-rounded" })
                    @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PostedPhoto" class="control-label col-md-2"></label>
            <div class="col-md-4">
                <input type="file" asp-for="PostedPhoto" multiple=true />
                <span asp-validation-for="PostedPhoto" class="text-danger" />
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.Location, new { @class = "form-control input-rounded" })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <label asp-for="PurchasedDate" class="control-label col-md-2"></label>
            <div class="col-md-4">
                <input asp-for="PurchasedDate" class="datepicker" type="date" />
                <span asp-validation-for="PurchasedDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Oluştur" class="btn btn-instagram btn-block" />
                <a asp-controller="Account" asp-action="Index" class="btn btn-block btn-google">Profil Sayfası</a>
            </div>
        </div>
    </div>
</form>

<link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<script src="~/assets/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/assets/Scripts/jquery-ui.min.js"></script>
@section bottom{
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                //yearRange:"2015:2020"
                minDate: new Date(2019, 0, 1),
                maxDate: '0'
            });
        });
    </script>
}

