@*@using TeknikServis.BLL.Identity*@
<!-- Page Sidebar -->
<div class="page-sidebar">
    <a class="logo-box" href="@Url.Action("Index","Home")">
        <span>Teknik Servis</span>
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ul>
            @*@if (HttpContext.Current.User.IsInRole("Customer"))
            {
                <ul class="accordion-menu">
                    <li>
                        <a href="@Url.Action("UserProfile","Account")">
                            <i class="menu-icon icon-profile"></i><span>Düzenle</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangePassword","Account")">
                            <i class="menu-icon icon-cloud"></i><span>Şifremi Değiştir</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <i class="menu-icon icon-home4"></i><span>Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Issue")">
                            <i class="menu-icon icon-alarm_on"></i><span>Yeni Kayıt Oluştur</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Issue")">
                            <i class="menu-icon icon-list-numbered"></i><span>Aktif Kayıtlarım (@(MembershipTools.GetIssueCount()))</span>
                        </a>
                    </li>
                    <li class="menu-divider"></li>
                    <li>
                        <a href="@Url.Action("Logout","Account")">
                            <i class="menu-icon icon-power2"></i><span>Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            }
            @if (HttpContext.Current.User.IsInRole("Operator"))
            {
                <ul class="accordion-menu">
                    <li>
                        <a href="@Url.Action("UserProfile","Account")">
                            <i class="menu-icon icon-profile"></i><span>Düzenle</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <i class="menu-icon icon-home4"></i><span>Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllIssues","Operator")">
                            <i class="menu-icon icon-alarm2"></i><span>Tüm Kayıtlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Operator")">
                            <i class="menu-icon icon-alarm_add"></i><span>Boştaki Kayıtlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AssignedIssues","Operator")">
                            <i class="menu-icon icon-check_circle"></i><span>Onaylanan Kayıtlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListAll","Issue")">
                            <i class="menu-icon icon-cancel-circle"></i><span>Kapanmış Kayıtlar</span>
                        </a>
                    </li>
                    <li class="menu-divider"></li>
                    <li>
                        <a href="@Url.Action("Logout","Account")">
                            <i class="menu-icon icon-power2"></i><span>Çıkış</span>
                        </a>
                    </li>
                </ul>
            }
            @if (HttpContext.Current.User.IsInRole("Technician"))
            {
                <ul class="accordion-menu">
                    <li>
                        <a href="@Url.Action("UserProfile","Account")">
                            <i class="menu-icon icon-profile"></i><span>Düzenle</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <i class="menu-icon icon-home4"></i><span>Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Technician")">
                            <i class="menu-icon icon-alarm_on"></i><span>Verilen Görevler</span>
                        </a>
                    </li>

                    <li class="menu-divider"></li>

                    <li>
                        <a href="@Url.Action("Logout","Account")">
                            <i class="menu-icon icon-power2"></i><span>Çıkış</span>
                        </a>
                    </li>
                </ul>
            }
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <ul class="accordion-menu">
                    <li>
                        <a href="@Url.Action("UserProfile","Account")">
                            <i class="menu-icon icon-profile"></i><span>Düzenle</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <i class="menu-icon icon-home4"></i><span>Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Admin")">
                            <i class="menu-icon icon-user"></i><span>Tüm Kullanıcıları Gör</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllIssues","Operator")">
                            <i class="menu-icon icon-list-numbered"></i><span>Tüm Kayıtları Gör</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Issue")">
                            <i class="menu-icon icon-alarm_on"></i><span>Yeni Kayıt Oluştur</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Reports","Admin")">
                            <i class="menu-icon icon-attach_file"></i><span>Raporlar</span>
                        </a>
                    </li>
                    <li class="menu-divider"></li>

                    <li>
                        <a href="@Url.Action("Logout","Account")">
                            <i class="menu-icon icon-power2"></i><span>Çıkış</span>
                        </a>
                    </li>
                </ul>
            }*@
        </div>
    </div>
</div><!-- /Page Sidebar -->