@using  HelpDesk.BLL.Account
@inject MembershipTools MembershipTool
@model HelpDesk.Models.ViewModels.UserProfileVM
@{
    ViewData["Title"] = "Kullanıcı Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-md-offset-3">
    <table id="user" class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr>
                <td style="width: 35%;font-weight: bold"></td>
                <td style="width: 65%;"><img src="@Model.AvatarPath" style="width: 200px; height: 200px;" /></td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Adı Soyadı</td>
                <td style="width: 65%;">@Model.Name @Model.Surname</td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Kullanıcı Adı</td>
                <td style="width: 65%;">@(Model.UserName)</td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Email</td>
                <td style="width: 65%;">@Model.Email</td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Telefon Numarası</td>
                <td style="width: 65%;">@(Model.PhoneNumber)</td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Enlem</td>
                <td style="width: 65%;">@Model.Latitude</td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Boylam</td>
                <td style="width: 65%;">@Model.Longitude</td>
            </tr>
            <tr>
                <td style="width: 35%;font-weight: bold">Kayıt Tarihi</td>
                <td style="width: 65%;">@(Model.RegisterDate)</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <a asp-action="UserProfile" asp-controller="Account" class="btn btn-instagram btn-block">Profili Güncelle</a>
            <a asp-action="Index" asp-controller="Issue" class="btn btn-google btn-block">Aktif Kayıtlar (@(MembershipTool.GetIssueCount()))</a>
        </div>
    </div>
</div>